<%- include('../partials/favorites.ejs', {user}) %> 





<% for (const favorite of favorites) { %>
<h2>
  <%= favorite.name %>
  <form action="/cocktails/favorites/<%=favorite.id%>/?_method=DELETE" method="POST">
    <button class="btn btn-warning" type="submit">Delete</button>
  </form>
</h2>

<ul>
  <%favorite.ingredients.split(',').forEach(ingredient =>{%>
  <li><%=ingredient%></li>
  <%})%>
</ul>
<p>Instructions: <%=favorite.instructions%></p>
<%favorite.comments.forEach(comment => {%> 
    
  <p><%= comment.dataValues.comment%></p> 
  
  <%})%> 
  <form method="post" action="/cocktails/favorites/comments">
    <label for="comment">Comment:</label><br />
    <textarea id="comment" name="comment"></textarea><br />
    <input type="hidden" name="cocktailId" value="<%= favorite.id %>" />
    <input type="submit" value="Submit" />
  </form>
   
<%}%> 






<%-include('../partials/footer.ejs') %>
