<%-include('../partials/header.ejs', {user}) %>

<%-include('../partials/form.ejs') %>

<% results.forEach(result =>{%>
   <h2> <%=result.name%> <button type="button" id="btn "class="btn btn-primary btn-sm">Favorite</button> </h2>

<ul>
   <%result.ingredients.forEach(ingredient=>{ %>
<li >
   <%=ingredient%>
</li>

   <%})%>
</ul>
   <p> Instructions: <%=result.instructions%></p>

    
<%})%>


<%- include('../partials/footer.ejs') %>
