<%-include('../partials/header.ejs', {user}) %>

<%-include('../partials/form.ejs') %>

<% results.forEach(result =>{%>
   <h2> <%=result.name%> <button type="button" class="btn btn-primary btn-sm">Favorite</button> </h2>

<ul class="list-group">
   <%result.ingredients.forEach(ingredient=>{ %>
<li class="list-group-item">
   <%=ingredient%>
</li>

   <%})%>
</ul>



   <p> Instructions: <%=result.instructions%></p>

    
<%})%>


<%- include('../partials/footer.ejs') %>
